PORT=3000
CORS_ORIGIN=http://localhost:5173

POSTGRES_URL=postgres://user:password@localhost:5433/dbname

# data base connection settings for docker and drizzle
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
POSTGRES_PORT=5433

# BETTER_AUTH_SECRET=
# BETTER_AUTH_URL=